@font-face {
    font-family: Ubuntu;
    src: url(fonts/Ubuntu/Ubuntu-Regular.ttf);
  }

html * {
    font-family: Ubuntu;
}

h1 {
    font-weight: bold;
    font-size: 1.5em;
}

h2 {
    font-weight: bold;
}

button {
    padding: 5px 20px;
    border-radius: 15px;
    background-color: #aed3e1;
    font-size: 1.5em;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 5fr;
    /*grid-template-columns: 1fr 5fr;*/
    grid-template-rows: 1fr 5fr;
}

.header {
    background-color: #e6f5fb;
    box-shadow: 2px 5px 8px #888888;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.header > * {
    display: flex;
    align-items: center;
    padding: 5px;
}

.search-bar input {
    width: 100%;
    border-radius: 10px;
    background-color: #ececec;
}

.notifications {
    display: grid;
    grid-template-columns: 30px 30px 1fr;
    align-content: center;
    column-gap: 5px;

}

.notifications > .pfp {
    height: auto;
    grid-column: 2 / 3;
}

.buttons {
    justify-content: space-around;
}

.user-greeting {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(2, 1fr);
    text-align: left;
    column-gap: 5px;
}
/*.sidebar, .sidebar > * {
    border-style: none;
}*/

.sidebar {
    height: auto;
    background-color: #aed3e1;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 2fr repeat(10, 1fr) 4fr;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.logo-space {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.sidebar-link {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
    width: 100%;
    color: black;
    text-decoration: none;
}

.sidebar-link:hover {
    background-color: azure;
}

.sidebar-link-icon {
    justify-self: center;
}

.main-content {
    background-color: #ececec;
    padding: 5px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 8fr 3fr;
    gap: 5px;
    overflow: scroll;
}

.projects {
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-rows: 1em 1fr;
    padding: 5px;
}

.card-icons, .dish-name, .story, .trend{
    background-color: rgb(255, 245, 233);
}

.cards-heading {
    grid-row: 1 / 2;
}

.card-field {
    padding-top: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
}

.card {
    border-style: none; /*Remove all borders later!*/
    border-radius: 8px;
    height: 200px;
    box-shadow: 2px 5px 8px #888888;
    display: grid;
    grid-template-columns: 15px 1fr;
    grid-template-rows: 150px 1fr 25px;
}

.dish-photo > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.decorate {
    grid-area: 1 / 1 / 4 / 2;
    background-color: #5a3b3b;
    border-radius: 7px 0 0 7px;
}

.dish-photo > img {
    border-radius: 0 7px 0 0;
}

.dish-name {
    padding: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-icons {
    border-radius: 0 0 7px 0;
    padding: 2px;
    display: flex;
    justify-content: flex-end;
}

.card-icons > img {
    object-fit: contain;
}

.announcements{
    padding-top: 5px;
    display: grid;
    grid-template-rows: 1em repeat(3, 1fr);
}

.story {
    padding: 10px;
}

.trending {
    padding-top: 5px;
    display: grid;
    grid-template-rows: 1em repeat(4, 1fr);
}

.trending > * {
    align-items: center;
    padding: 5px;
}

.trend {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    /*place-items: center;*/
}

.pfp {
    grid-area: 1/1/3/2;
}

.pfp > img {
    object-fit: contain;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}